.todo-list {
  font-size: 2.4rem;
  font-weight: 300;
  background: rgb(255, 255, 255);
  width: 56.5%;
  border-radius: 5px;
  font-weight: 500;
  color: #5c5c5c;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  padding: 0 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #dadada;
}

.todo p {
  cursor: pointer;
}

.todo button {
  border: none;
  background: transparent;
  font-size: 1.8rem;
  font-family: Bariol;
  color: #f29694;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.todo .done {
  text-decoration: line-through;
  color: rgb(41, 186, 82);
  opacity: 0.6;
}

.todo .check {
  color: rgb(41, 186, 82);
}

.todo-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.todo-form .task {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(160, 160, 160);
  outline: none;
  height: 48px;
  padding-bottom: 10px;
  font-size: 3.4rem;
  width: 100%;
  margin: 30px 0;
  transition: all 0.2s;
  font-family: Bariol;
  color: rgb(84, 126, 255);
}

.todo-form .task::placeholder {
  opacity: 0.5;
  font-family: Bariol;
  font-size: 3.4rem;
}

.todo-form .task:focus {
  border-bottom: 2px solid rgb(84, 126, 255);
}

.todo-form .add-todo {
  width: 120px;
  height: 52px;
  background: rgb(41, 186, 82);
  border: none;
  color: #fff;
  border-radius: 3px;
  font-size: 1.8rem;
  font-family: Bariol;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 30px;
  padding: 0;

  /* box-shadow: 2px 10px 20px rgb(41, 186, 82, 0.3); */
  margin-bottom: 30px;
  font-weight: 500;
}

.todo-form .add-todo:hover {
  transform: scale(1.02);
  opacity: 0.9;
  /* box-shadow: 0px 2px 10px rgb(41, 186, 82, 0.3); */
}

.todo-form .clear-todo {
  width: 120px;
  height: 52px;
  background: rgb(220, 75, 72);
  border: none;
  color: #fff;
  border-radius: 3px;
  font-size: 1.8rem;
  font-family: Bariol;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0;
  /* box-shadow: 2px 10px 20px rgb(232, 79, 76, 0.3); */
  margin-bottom: 30px;
  font-weight: 500;
}

.todo-form .clear-todo:hover {
  transform: scale(1.02);
  opacity: 0.9;
  /* box-shadow: 0px 2px 10px rgb(232, 79, 76, 0.3); */
}
